.externalcard:hover{
box-shadow:5px 10px 20px 1px rgba(0, 0,0,0.253)!important ;
cursor: pointer;
}

.cardtitle{
font-weight: 700;
}

.heading{
    font-weight: 700;
    font-size: 100px;
    color: rgb(16, 255, 235);

}
.spanheading{
    font-size: 21px;
    font-weight: 400;
    color: white;
}

.bannerimg{
    background-image: url('./banner2.jpg');
    background-position:center;
    background-repeat: no-repeat;
    background-size: cover;
     /* width: 500%; */
    height: 700px; 
    padding-top: 260px;
}

.navlink{

    font-size: 22px;
}
.px-3
{
    color:white!important;
}
.px-3:hover
{
    color: rgb(16, 255, 235)!important;
}

.logostyle{
    /* font-family: 'Oswald', sans-serif; */
    font-family: 'Orbitron', sans-serif;
    font-size: 30px;
    color: rgb(255, 255, 255)!important;
}

.bgfooter{
    font-size: 20px;
    color: white;
    background-color:rgb(65, 64, 64);
    height: 400px;
}

.copyright{
    background-color:rgb(124, 124, 124);
}

@media  (min-width:320px) and (max-width:850px)
{
    .logostyle{
        position: relative;
        font-size: 25px;
        right: 50px;
    }
    .reactimg{
        position: relative;
        right: 20px;
    }
  .heading{
      font-size: 50px;
  }
  .spanheading{
      font-size: 12px;
      font-weight: 800;
  }
  .welcome{
      position: relative;
      top: 90px;
  }
  .bannerimg{
      overflow: hidden;
      height: 525px;
      width: 380px;
  }
  .externalcard{
      width: 50px;
      height: 10px;
}
}

@media (min-width:1020px) and (max-width:1370px)
{
    .heading{
        font-size: 72px;
    }
    .spanheading{
        font-size: 28px;
        font-weight: 700;
    }
    .welcome{
        position: relative;
        top: 60px;
    }
    .navlink .px-3{
        position: relative;
    right: 150px;
    }
    .externalcard{
        width: 12rem!important;
        height: 25rem!important;
    }
    .cardtitle{
        font-size: 15px;
    }
    .cardbody{
        font-size: 11px!important;
        font-weight: 500;
    }
}
@media (min-width:760px) and (max-width:1030px)
{
    
.bannerimg{
    overflow: hidden;
    width: 100%;
}
.welcome {
    position: relative;
    top: 14px;
}
.heading{
    font-size: 49px;
}
.spanheading{
    font-size: 16px;
    font-weight: 500;
}
.navlink .px-3{
    position: relative;
right: 150px;
}
.externalcard{
    width: 12rem!important;
    height: 25rem!important;
}
.cardtitle{
    font-size: 15px;
}
.cardbody{
    font-size: 11px!important;
    font-weight: 500;
}
}